/*
Theme Name: Junior Dev Child
Theme URI: github repo link
Description: Child theme for Twenty Tewnty-Five with custom portfolio CPT
Author: Kayiira Edward
Author URI: githun link/kayiira-edward
Template: twentytwentyfive
Version: 1.0.0
*/